<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-dark text-white">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Voltar", root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Criar uma nova bebida</h1>

      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-info btn-sm', value: 'Criar drink' %>
        <%= f.input :photo, as: :file, label: 'Inserir foto', class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>
