<div class="banner-cocktail bg-dark text-white">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "Voltar para todos os drinks", root_path, class: 'btn btn-success btn-sm' %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="text-center">
        <% if @cocktail.photo.key %>
        <%= cl_image_tag @cocktail.photo.key, height: 200, width: 350, radius: 10, crop: :fill %>
        <% end %>
      </div>
      <div class="recipe">
        <h4>Receita</h4>
      </div>
      <table class="table table-striped table-dark">
        <tbody>
          <thead>
            <th>Ingrediente</th>
            <th>Descrição</th>
            <th>Ação</th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    </div>
  </div>
</div>
